
* {
  margin: 0;
  padding: 0;
}
  
body {
  color: rgba(42, 95, 42, 0.9);
  background-color: rgb(208, 248, 208);
}

#nav-bar {
  /* margin-top: 1%; */
  text-align: center;
}

#nav-bar ul {
  list-style-type: none;
  padding: 10px;
  text-align: center;
  background-color: rgb(60, 161, 60);
  height: 85px;
}
  
#nav-bar ul li {
  display: inline-flex;
  justify-content: space-between;
  padding: 0 15px;
  height: 10px;
  font-size: 20px;
  color: white;
}

#nav-bar ul li a {
  color: white;
  text-decoration: none;
}



/* --------- Game Stylings --------- */


  
#logo_1 {
  width: 80px;
  height: 80px;
  position: relative;
  top: 8px;
}

#rules:hover {
  cursor: pointer;
}

#gameHome:hover{
  cursor: pointer;
}

#caption {
  padding: 1%;
  text-align: center;
  color: black;
}

#gameH3 {
  color: black;
}

/* #gameTime {
  width: 200px;
  margin-top: 4%;
  margin-bottom: 1%;
} */

#titles {
  margin: 2%;
}
  
.questionImages {
  width: 300px;
  height: 220px;
  /* border-top: black 10px solid;
  border-left: black 5px solid;
  border-bottom: black 10px solid;
  border-right: black 5px solid; */
  margin: 10px;
  border-radius: 1rem;
  /* rgb(60, 161, 60) */
}

#images {
  margin-left: 8%;
  width: 700px;
  display: inline-block;
  margin-top: 2%;
}

/* #questionHead {
  color: black;
  text-align: center;
} */
  
table {
  margin-left: 7%;
  margin-bottom: 3%;
  border-spacing: 5px;
  width: 600px;
  text-align: center;
}

td {
  padding: 2% 0.75%;
  background-color: #434395;
  border-radius: 19px;
  font-size: 18px;
  justify-content: center;
  align-content: auto;
  color: white;
  width: 250px;
  display: inline-flex;
  margin: 2%;
  height: 41.6px;
}

td:hover {
  cursor: pointer;
}


#questionClickDiv{
  /* margin-top: 3%; */
  text-align: center;
}

#button {
  /* margin: 1% 55% 1% 44%; */
  width: 150px;
  padding: 3px;
  font-size: 16px;
  display: inline-block;
  margin: 0 auto;
}

#button:hover {
  cursor: pointer;
}
  
#questionHead {
  text-align: center;
  color: black;
  font-size: 22px;
  margin-bottom: 1%;
}
  
#reset {
  float: left;
  margin-left: 2%;
  padding: 3px;
  margin-top: 1%;
}
  
#overviewPara{  
  color: blue;
  /* float: right;
  margin-right: 5%; */
  margin-left: 5%;
  margin-bottom: 2%;
  margin-top: 2%;   
}
  
#overviewText{
  text-indent: 25px;
  width: 400px;
  display: block;
}
#overGenres{
  width: 350px;
  display: block;
}

#overviewIMG{
  width: 200px;
  border: none;
  display: inline-block;
  float: left;
  margin-right: 2%;
  margin-bottom: 2%;
}

.nameSpan{
  margin-right: 15px;
}


#recordsUL li {
  
  margin: 1.5% 0;
  font-size: 20px;
  width: 100%;
}

#liveScore{
  font-size: 20px;
  font-weight: bold;
}

.remove-item{
  font-size: 10px;
}
.remove-item:hover{
  cursor: pointer;
}

#muteSpan:hover{
  cursor: pointer;
}
#muteSpan{
  font-size: 30px;
  float: right;
  /* margin: 5px 10px; */
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 17%;
}

#gameStartDiv{
  margin-top: 8px;
  margin-left: 2%;
  float: left;
  color:  rgba(36, 97, 36, 0.9);
  font-weight: bold;
  /* text-align: center; */
}

#nameRegister{
  margin-top: 1%;
  margin-bottom: 3%;
  width: 200px;
  padding: 5px;
  outline: none;
  border-radius: 0.5rem;
}

#registerBtn{
  padding: 5px 8px;
  border-radius: 0.5rem;
  outline: none;
}

#registerBtn:hover{
  cursor: pointer;
}

#registerLabel{
  font-size: 20px;
}

#recordsUL{
  border: 8px solid  rgb(60, 161, 60);
  border-radius: 2rem;
  display: inline-block;
  padding: 2%;
  margin-right: 5%;
  margin-top: 6%;
  float: right;
  padding-left: 3%
};

#jokersDiv{
  background-color: aqua;
}

.jokerButtons{
  /* background-color: bisque; */
  margin-left: 10%;
}

.jokerButtons button{
  padding: 1% 2%;
  margin-left: 2%;
  border-radius: 1rem;
  background-color: rgb(23, 70, 223);
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.jokerButtons button:hover{
  cursor: pointer;
}


/* #recordsUL > :first-child{
  font-size: 36px;
  color: red;
} */