* {
  margin: 0;
  padding: 0;
}

body {
  color: rgba(42, 95, 42, 0.9);
  background-color: rgb(208, 248, 208);
}

#nav-bar ul {
  list-style-type: none;
  padding: 10px;
  text-align: center;
  background-color: rgb(60, 161, 60);
}

#nav-bar ul li {
  display: inline-flex;
  justify-content: space-between;
  padding: 10px;
  height: 10px;
  font-size: 20px;
}

#nav-bar ul li a {
  color: white;
  text-decoration: none;
}

#logo_1 {
  width: 100px;
  height: 100px;
  position: relative;
  top: 26px;
}

.div2 {
  text-align: center;
}

#results {
  text-align: center;
  font-size: 20px;
}

#results li {
  display: inline-block;
  border: 5px solid rgb(158, 5, 158);
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px gray;
  background-color: white;
}

hr {
  border: dashed green;
  width: 50%;
  margin: auto;
}

.resultIMG {
  width: 200px;
  height: 250px;
}

#submitbtn {
  padding: 13px;
  background-color: green;
  color: white;
  border-radius: 1em;
  font-size: 16px;
  width: 100px;
}

#submitbtn:hover {
  cursor: pointer;
}

#submitbtn:active {
  background-color: rgb(16, 190, 39);
}
