* {
  margin: 0;
  padding: 0;
}

body {
  color: rgba(42, 95, 42, 0.9);
  background-color: rgb(208, 248, 208);
}

#nav-bar {
  /* margin-top: 1%; */
}

#nav-bar ul {
  list-style-type: none;
  padding: 10px;
  text-align: center;
  background-color: rgb(60, 161, 60);
  height: 120px;
}

#nav-bar ul li {
  display: inline-flex;
  justify-content: space-between;
  padding: 10px;
  height: 10px;
  font-size: 20px;
  color: white;
}

#nav-bar ul li a {
  color: white;
  text-decoration: none;
}

#challenge {
  width: 180px;
  border-radius: 2em;
  margin-bottom: 0;
  margin-top: 0;
}

#logo_2 {
  width: 100px;
  height: 100px;
  margin-bottom: 2%;
  float: left;
  margin-left: 1%;
}

.div2 {
  text-align: center;
}

#results {
  text-align: center;
  font-size: 20px;
}

#results li {
  display: inline-block;
  border: 8px solid rgb(158, 5, 158);
  margin: 20px;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 10px 10px 5px gray;
  background-color: white;
}

hr {
  border: dashed green;
  width: 50%;
  margin: auto;
}

.resultIMG {
  width: 230px;
  height: 280px;
}

.movie-info {
  /* display: inline;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px; */
  padding: 0;
  max-width: 270px;

}

#warning {
  margin-top: 3px;
  color: red;
  font-size: 10px;
}

#submitbtn {
  padding: 13px;
  background-color: green;
  color: white;
  border-radius: 1em;
  font-size: 16px;
  width: 100px;
}

#submitbtn:hover {
  cursor: pointer;
}

#submitbtn:active {
  background-color: rgb(16, 190, 39);
}

#findMovie {
  margin-top: 2%;
  margin-right: 5%;
  width: 120px;
  background-color: rgb(15, 80, 15);
  outline: none;
  border-radius: 4em;
  padding: 10px 6px;
  border:  rgb(32, 219, 32);
  color: rgb(141, 184, 141);
  font-size: 15px;
  font-weight: bold;
}

#findMovie::placeholder{
  color: rgb(141, 184, 141);
  font-size: 15px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}
#findButton {
  /* float: right; */
  text-align: center;
  margin: 1% 3%;
  width: 50px;
  margin-left: 1%;
}

#searchInput {
  display: inline-block;
  float: right;
  margin-top: 2%;
  margin-right: 5%;
}

#message {
  font-size: 24px;
  margin-top: 2%;
  font-weight: bold;
  color: black;
}

#yearDiv {
  margin-top: 4px;
}

#years {
  width: 180px;
}

#recentMovies:hover {
  cursor: pointer;
}

#filter:hover {
  cursor: pointer;
}
#filter {
  color: white;
}

#messageRecent {
  font-size: 24px;
  margin-top: 2%;
  font-weight: bold;
  color: black;
}

#messageFind {
  font-size: 24px;
  margin-top: 2%;
  font-weight: bold;
  color: black;
}

#warningFilter {
  margin-top: 3px;
  color: red;
  font-size: 10px;
}

#messageDiv {
  text-align: center;
}

#aboutUsList:hover {
  cursor: pointer;
}

#aboutUsList {
  color: white;
}

/* --- About us stylings --- */

#aboutUsH1 {
  text-align: center;
  margin-top: 3%;
}

#introduction {
  text-align: center;
  margin-top: 5%;
}

#scroll {
  display: none;
  text-align: center;
  position: fixed;
  right: 0;
  bottom: 0;
  margin-right: 1%;
  border: 2px solid rgba(42, 95, 42, 0.9);
  padding: 7px;
  border-radius: 2rem;
  font-size: 10px;
  margin-bottom: 4%;
  background-color:  rgb(208, 248, 208);
  outline: none;
}
#scroll:hover{
  cursor: pointer;
}

#loadMoreDiv{
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
#loadMore{
  text-align: center;
  border: 2px solid rgba(42, 95, 42, 0.9);
  padding: 7px 10px;
  border-radius: 2rem;
  font-size: 15px;
  margin-bottom: 2%;
  background-color:  rgb(208, 248, 208);
  outline: none;
}

#loadMore:hover{
  cursor: pointer;
  background-color:  rgb(125, 207, 125);
}






